*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: #222;
    width: 80vh;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.image{
    display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: center;
    align-items:center;   
}
.image img,canvas{
    max-width: 45vh;
    max-height: 60vh;
}
.image .upload input{
    display: none;
}
.image .upload label{
    color: white;
    padding:8px 20px;
    border: 2px white dashed;
    cursor: pointer;
}
.filters ul,
.filters ul li{
    display: flex;
    flex-direction: column;
    gap :25px;
    list-style: none;
    direction: rtl;
}
.filters ul li label{
    color: white;
}
.filters ul li:last-child{
    flex-direction: row-reverse;
    justify-content: space-around;
}
.filters ul li:last-child a,
.filters ul li:last-child span{
    color:white;
    padding: 10px 20px;
    background-color: green;
    cursor: pointer;
}

@media (max-width:767px) {
    .container{
        grid-template-columns: 1fr;
        gap:20px;
    }
    .filters ul,
    .filters ul li{
        gap:10px;
    }
    .image{
        gap:30px;
    }
    .image img,canvas{
        margin-top: 100%;
        max-width: 40vh;
    }

}